@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
body {
  margin: 0;
  font-family: "Dancing Script", cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
