nav {
  height: 20vh;
  width: 100%;
  background-color: rgb(194, 184, 252);
  color: #000;
}
.navitems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navitems h2 {
  font-size: 50px;
}
.navitems button {
  width: 30%;
  height: 10vh;
  border: 2px solid transparent;
  border-radius: 30px;
  background: black;
  color: rgb(242, 248, 243);
  font-family: serif;
  font-size: 20px;
  margin: auto 0px;
}
.fetchbtn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(60, 94, 206);
}
.userdatacontainer {
  width: 100%;
  height: fit-content;
  background-color: rgb(238, 159, 234);
}
#main {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.name:hover {
  color: rgb(53, 39, 247);
}
.avatar {
  border-radius: 30%;
}
.profile_cont {
  border-radius: 8%;
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 10px;
  padding: 20px;
  width: 30%;
  text-align: center;
  transition: transform ease 0.2s;
  opacity: 0.8;
  margin-top: 0vh;
}
.profile_cont:hover {
  transform: scale(1.2);
  opacity: 1;
}
